@import "tailwindcss";
@import url(https://fonts.bunny.net/css?family=montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

@theme {
    --color-primary: rgb(0, 159, 226);
    /* Lighter shades (mixing with white) */
    --color-primary-50:  color-mix(in srgb, var(--color-primary), white 95%);
    --color-primary-100: color-mix(in srgb, var(--color-primary), white 90%);
    --color-primary-200: color-mix(in srgb, var(--color-primary), white 70%);
    --color-primary-300: color-mix(in srgb, var(--color-primary), white 50%);
    --color-primary-400: color-mix(in srgb, var(--color-primary), white 30%);
    --color-primary-500: color-mix(in srgb, var(--color-primary), white 10%);

    /* The base (600 is usually the closest to the raw brand color) */
    --color-primary-600: var(--color-primary);

    /* Darker shades (mixing with black) */
    --color-primary-700: color-mix(in srgb, var(--color-primary), black 15%);
    --color-primary-800: color-mix(in srgb, var(--color-primary), black 30%);
    --color-primary-900: color-mix(in srgb, var(--color-primary), black 45%);
    --color-primary-950: color-mix(in srgb, var(--color-primary), black 60%);
    --font-montserrat: 'Montserrat', sans-serif;
}
